.modal.fade.o-modal.-wide(id="modal-sizes" tabindex="-1" role="dialog" aria-labelledby="modal-sizes-heading" aria-hidden="true")
    .modal-dialog.modal-dialog-centered.o-modal__dialog(role="document")
        .modal-content.o-modal__content

            .modal-header.o-modal__header
                h5.modal-title.o-modal__title(id="modal-sizes-heading") Tabulka velikostí

                button.o-modal__close(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span.a-icon.-cross.-white.o-modal__closeIcon

            .modal-body.o-modal__body
                table.table.table-striped
                    tr
                        th Velikost
                        th M
                        th L
                        th XL
                        th XXL
                    tr
                        td Blůza - Obvod hrudníku v cm
                        td 132
                        td 140
                        td 148
                        td 156
                    tr
                        td Blůza - Obvod hrudníku v cm
                        td 132
                        td 140
                        td 148
                        td 156
                    tr
                        td Blůza - Obvod hrudníku v cm
                        td 132
                        td 140
                        td 148
                        td 156                   
               

            .modal-footer.o-modal__footer
                button.btn.-secondary(type="button" data-dismiss="modal") Zavřít
