- var lang = "cs";

- var title = "Army-shop.cz";

- var metaDescription = "Army-shop.cz vše pro příznivce military, scoutingu, rybaření, trapery, lesáky, turisty, air-softu, paintballu, free stylu atd. provozujeme kamenné prodejny";

- var metaKeywords = "Armyshop, military, airsoft, výstroj, armáda, vojenské zboží";

- var metaAuthor = "Eline.cz";

- var metaAuthorURL = "http://eline.cz";

- var metaURL = "https://army-shop.cz";

- var metaSitename = "army-shop.cz";


- var URLbase = "";


- var metaTwitterName = "@armyshop";

- var metaTwitterImg = URLbase+"img/placeholder-200x200.png";

- var metaFacebookName = "armyshop";

- var metaYoutubeName = "armyshop";

- var metaInstagramName = "armyshop";



- var ProductName = "Blůza maskáčová - orig. Bundeswehr";